<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>About</title>
<link href="#" rel="stylesheet" th:href="@{/css/gral-style.css}"/>
<!-- Bootstrap styles -->
<link href="#" rel="stylesheet" th:href="@{/b4/css/bootstrap.min.css}"/>
</head>
<body>
	<div th:replace="components/navbar :: navbar"></div>
	<div class="container main-container">
	
		<div class="row">
		
			<div class="col-md-12 main-container border-container">
			
				<div class="row">
				
					<div class="col-md-3">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
					
					<div class="col-md-9">
						
						<h1>Task Engine Manager</h1>
						<hr/>
						<p>
							Some content description here
						</p>
										
					</div>
				
				</div>
						
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="col-md-12 main-container border-container">
			
				<div class="row">
				
					<div class="col-md-3">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
				
					<div class="col-md-9">
						
						<h1>The Developer</h1>
						<hr/>
						<p>
							Some content description here
						</p>
										
					</div>
				
				</div>
					
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="col-md-12 main-container border-container text-center">
				
				<div>
					<h1>Powered by</h1>
				</div>
				
				<div class="row">
					<div class="col-md">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
					
					<div class="col-md">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
					
					<div class="col-md">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
					
					<div class="col-md">
						<img alt="tem" src="#" th:src="@{/imgs/img-placeholder.png}"/>
					</div>
				</div>
			</div>
		
		</div>
	
	</div>
	<!-- Required Scripts -->
	<script type="text/javascript" th:src="@{/jQuery/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/b4/js/bootstrap.min.js}"></script>
</body>
</html>